<!--
    <div class="login jumbotron center-block">
    <h2>Login</h2>
    <form role="form" (submit)="login($event, username.value, password.value)">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" #username class="form-control" id="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" #password class="form-control" id="password" placeholder="Password">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" [(ngModel)]="_user.RememberMe"> Remember me
            </label>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        <a [routerLink]="['/signup']">Click here to Signup</a>
    </form>
</div>
-->

<div class="login jumbotron center-block">
    <h2>Login</h2>
    <form class="form col-md-12 center-block" #hf="ngForm">
        <div class="form-group">
            <input type="text" class="form-control input-lg" placeholder="Username" [(ngModel)]="_user.Username"
                   name="username" ngControl="username" required #username="ngForm" />
            <div [hidden]="username.valid || username.untouched" class="alert alert-danger">
                Username is required
            </div>
        </div>
        <div class="form-group">
            <input type="password" class="form-control input-lg" placeholder="Password" [(ngModel)]="_user.Password"
                   name="password" ngControl="password" required #password="ngForm" />
            <div [hidden]="password.valid || password.untouched" class="alert alert-danger">
                Password is required
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-lg btn-block" (click)="login()" [disabled]="!hf.form.valid">Sign In</button>
            <span class="pull-right">
                <a [routerLink]="['/signup']">Register</a>
            </span>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" [(ngModel)]="_user.RememberMe"> Remember me
            </label>
        </div>
    </form>
</div>


