<h2>Infragistics</h2>
<div class="col-md-12">
    <ig-grid [(ig-options)]="opts"></ig-grid>
</div>

<h2>Ng Grid</h2>
<div class="col-md-12">
    <ag-grid-ng2 class="ag-dark" style="height: 500px" [rowGroupPanelShow]="always" [columnDefs]="columnDefs" [rowData]="rowData"></ag-grid-ng2>
</div>

<!--<h3 class="first">Basic</h3>
<p-dataTable [value]="_messages">
    <p-column field="Text" header="Text"></p-column>
    <p-column field="Recipient" header="Recipient"></p-column>
    <p-column field="Sender" header="Sender"></p-column>
    <p-column field="Channel" header="Channel"></p-column>
</p-dataTable>

<h3>Dynamic Columns</h3>
<p-dataTable [value]="_messages">
    <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header"></p-column>
</p-dataTable>-->
