@section scripts{
    @Html.Partial("DefineAngular")
    <script>
        System.import('app/bootToChat');
    </script>
}
@*<todolist class="todolistcontent">
    <div class="waitloading">
        loading...
    </div>
</todolist>*@
